html {
scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #191919;
    overflow-x: hidden;
    max-width: 1440px;
    margin: 0 auto;
}

a{
 
    text-decoration: none;
}

header.container {
  width: 1440px;
  margin: 0 auto;
  padding: 28px 50px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191919;
  box-sizing: border-box;
}


.logo-header .logo {
  width: 160px; 
  margin-left: 20px;
  height: 33px;
  display: block;
}

.main-header nav {
  display: flex;
  gap: 40px; 
  align-items: center;
}

.main-header nav a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;

  transition: color 0.3s ease;
  cursor: pointer;
}
.home{
    color: #118DA8;
}
.home-1{
    color: #FFFFFF;
}

.main-header nav a:hover {
  color: #FF5500; 
  text-decoration: underline;
}

.first-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 37px;
    margin-right: 21px;
    height: 913px;
}
.podcast{
    display: flex;
}
.podcast-2{
    width: 530px;
    height: 611px;
    margin-left: 60px;
    margin-top: 250px;
}
.txt-1-1st{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
    font-weight: 20;
    margin-bottom: 0;
    padding-bottom: 0;
}
.text-ll{
    display: flex;
    gap: 25px;
    margin-top: 0;
    padding-top: 0;
}
.text-next{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
    font-weight: 20;
}
.text-level{
    font-weight: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
}
p{
    margin-top: 0;
}
.text-listen-on{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.footer-social{
    margin-top: 16px;
    display: flex;
    gap: 17px;
}
.img-1st{
    width:650px ;
    height: 873px;
}
.latest{
    height: 2088px;
    margin-left: 40px;
    margin-top: 93px;

}
.episodes{
    width: 1300px;
    height: 99px;
    display: flex;
    margin-bottom: 40px;
    gap: 609px;
    margin-left: 50px;
    margin-right: 70px;
}
.episodes-h4{
    font-size: 64px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 50;
    width: 513px;
    height: 80px;
    margin-top: 0;
    margin-bottom: 0;
}
.episodes-but{
    background-color: #118DA8;
    width: 178px;
    height: 51px;
    color: #FFFFFF;
    border: none;
    margin-top: 31px;
    border-radius: 7px;
}

.episodes-but:hover {
    background-color: #0F748A; 
    color: #e0e0e0; 
}

.episodes-lat{
    display: block;
}
.epis-3{
    width: 1300px;
    height: 545px;
    display: flex;
    background-color: black;
    border-radius: 40px;
    margin-bottom: 60px;
    margin-left: 50px;
}
.epis-img-3{
    width: 390px;
    height: 465px;
    margin-top: 40px;
    margin-left: 40px;
}
.epis-3-txt{
    width: 778px;
    height: 465px;
    margin-left: 53px;
    margin-top: 40px;
}
.epis-2{
    width: 1300px;
    height: 512px;
    display: flex;
    background-color: black;
    border-radius: 40px;
    margin-bottom: 60px;
    margin-left: 50px;
}
.epis-img-2{
    width: 390px;
    height: 432px;
    margin-top: 40px;
    margin-left: 40px;
}
.epis-h5{
    width: 41px;
    height: 27px;
    text-align: center;
    margin: 0;
    margin-left: 16px;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 100;

}
.epis-gear{
    width: 73px;
    height: 27px;
    background-color: #191919;
    text-align: center;
    border-radius: 7px;
}
.epis-p{
    margin-top: 48px;
    color: #118DA8;
    margin-bottom: 0;
}
.epis-h2{
    width: 701px;
    height: 141px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 64px;
    font-weight: 200;
    margin-top: 18px;
    margin-bottom: 28px;
    text-align: left;
}
.epis-p-1{
    width: 757px;
    height: 99px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #ffffff88;
    margin-bottom: 0;
}
.epis-butt{
    width: 208px;
    height: 51px;
    border-radius: 7px;
    color: #FFFFFF;
    background-color: #118DA8;
    margin-top: 35px;
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 20;
    padding: 0;
    border: none;
}

.epis-butt:hover{
    background-color: #0F748A; 
    color: #e0e0e0; 
}

.epis-tips{
    width: 136px;
    height: 27px;
    background-color: #191919;
    text-align: center;
    border-radius: 7px;
}
.epis-h5-1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 100;
    
    margin-left: 16px;
    padding-top: 3px;
    margin: 0;
    
}
.epis-p-2{
    width: 773px;
    height: 66px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #ffffff88;
    margin-bottom: 0;
    text-align: left;
}
.epis-butt-1{
    width: 208px;
    height: 51px;
    border-radius: 7px;
    color: #FFFFFF;
    background-color: #118DA8;
    margin-top: 8px;
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 20;
    padding: 0;
    border: none;
}
.epis-butt-1:hover {
    background-color: #0F748A; 
    color: #e0e0e0; 
}
.Jacob{
    height: 850px;
}
.Jacob-1{
    width: 1400px;
    display: flex;
}
.Jacob-txt{
    width: 590px;
    height: 448px;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 180px;
}
.Jacob-img{
    width: 650px;
    height: 743px;
    border-radius: 5px;
}
.Jacob-arrow{
    width: 112px;
    height: 112px;
}
.Jacob-p{
    color: #118DA8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-top: 20px;
}
.Jacob-h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
    font-weight: 300;
    width: 496px;
    height: 80px;
    margin: 0;
}
.Jacob-p-1{
    width: 546px; 
    height: 66px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #ffffff86;
    margin-top: 28px;
}
.Jacob-p-2{
    width: 528px;
    height: 66px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #ffffff86;
    margin-top: 33px;
}
.your-info{
    height: 587px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.your-info-1{
    width: 1300px;
    height: 387px;
    background-color: black;
    border-radius: 25px;
    display: flex;
}
.your-txt{
    width: 642px;
    height: 330px;
    display: block;
    margin-left: 60px;
}
.your-p{
    width: 150px;
    height: 27px;
    color: #118DA8;
    margin-top: 59px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 0;
}
.your-h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 72px;
    font-weight: 200;
    margin: 0;
    width: 431px;
    height: 159px;
}
.your-inf{
    width: 522px;
    height: 252px;
    margin-top: 60px;
    display: block;
}
.your-but-1{
    width: 522px;
    height: 82px;
    background-color: #191919;
    border: none;
    border-radius: 7px;
    padding-left: 19px;
    font-size: 24px;
    margin-bottom: 25px;
}
.your-but-2{
    width: 87px;
    height: 48px;
    background-color: #118DA8;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 7px;
    border: none;
}
.your-but-2:hover {
    background-color: #0F748A; 
    color: #e0e0e0; 
}

.reviews-section{
    height: 901px;
    width: 1400px;
    margin-left: 70px;
}
.reviews-grid{
    height: 701px;
    width: 1300px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    margin-top: 100PX;

}
.review-card{
    width: 423px;
    height: 321px;
    background-color: black;
    border-radius: 20px;
}
.review-card-1{
    margin-top: 54px;
    margin-left: 50px;
}
.review-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 34px;
    font-weight: 100;
    margin-top: 21px;
    margin-bottom: 19px;
    letter-spacing: 0;
    line-height: 43px;
    margin-right: 60px;
}
.review-text-1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 31px;
    font-weight: 100;
    margin-top: 21px;
    margin-bottom: 19px;
    letter-spacing: 0;
    line-height: 43px;
    margin-right: 60px;
}
.review-author{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    color: #ffffff86;
}
.footer{
    height: 438px;
    width: 1300px;
}
.footer-up{
    display: flex;
    margin-left: 70px;
    width: 1300px;
    height: 238px;
}
.footer-1{
    display: flex;
    flex-direction: column;
    width: 447px;
    height: 222px;
}
.footer-nav{
    display: block;
    margin-right: 16px;
    width: 222px;
}
.Home-1{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0;
}
.Home{
    margin-bottom: 10px;
}
.Style-1{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0;
}
.Style{
    margin-bottom: 10px;
}
.logo-footer{
    width: 224px;
    height: 46px;
    margin-bottom: 25px;
}